body {
  margin: 0;
  padding: 0;
}
.App {
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}